.notific:hover{

	background-color: yellow; 
}
.questions{
	display: inline-block !Important;
}
.border
{
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1px outset #d2cfd6;
}
.scroll{

	max-height: 260px !Important;
	overflow-y: auto !Important;
}