<div>
<loading></loading>
<h3 class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 " ng-show="title" for="">No posee preguntas sin responder</h3>
  <div  ng-show="body">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
      <h3 for=""> Preguntas  sin responder</h3>
      <button class="btn btn-info" ng-click="obtenermas()">Obtener mas Preguntas</button>
      
      </div>
      <hr>
    </div>
    <ul class="row" ng-repeat="list in listed">
          
        <li> 
        <button class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" type="button" class="btn btn-info btn-sm" ng-click="isCollapsed = !isCollapsed">
           <div><strong>Acticulo:</strong>  {{list.title}}</div> <br> <strong>Pregunta:</strong>  <pre>{{list.text}}</pre>
        </button>
        <div uib-collapse="isCollapsed">
          <div class="well well-lg col-sm-8 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <textarea ng-model="modal.anwers" name="" id="" cols="60" rows="3"></textarea>
            <button type="button" ng-click="anwers(list,modal,$index)" class="btn btn-primary">Responder</button>
            <button type="button" ng-click="delete(list,$index)" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
        </li> 
    </ul>
  </div>
</div>

 

</div> 