<div class="row" ng-controller="ReportepreguntasCtrl">
<loading></loading>
 <div ng-show="body" class="col-sm-12 col-md-12 col-lg-12 table-responsive"">

   <div class="input-field">
      <input class="input-buscar" placeholder="Buscar pregunta" id="first_name" type="text" ng-model="string" >
    </div>
  <table class="table"  infinite-scroll="getMoreData()">
  <thead>
    <tr>
      <th data-field="Vendedor">Vendedor</th>
      <th data-field="Fecha creacion">FechaCreacion</th>
      <th data-field="Pregunta">Pregunta</th>
      <th data-field="Respuesta">Respuesta</th>
    </tr>
    </thead>
    <tbody ng-repeat="pregunta in data | filter: string" >
    <tr>
      <td>
        {{pregunta.vendedor}}
      </td>
      <td>
        {{pregunta.fechaCreada}}
      </td>
      <td>
      {{pregunta.pregunta}}
      </td>
      <td>
      {{pregunta.respuesta}}
      </td>

    </tr>
    </tbody>
  </table>

</div>