<div class="row" ng-controller="VentasCtrl">
 <div ng-show="title">
   No posee ordenes Activas
 </div>
 <div ng-show="body"> 
  <table ng-table="tableParams" class="bordered centered">
  <thead>
    <tr>
      <th data-field="Informacion del comprador">Informacion del comprador</th>
      <th data-field="Informacion del acticulo">Informacion del acticulo</th>
      <th data-field="Informacion de la orden">Informacion de la orden</th>
    </tr>
    </thead>
    <tbody ng-repeat="venta in $data" >
    <tr>
      <td>Nombre: {{ venta.Comprador}}<br>
      Pseudonimo: {{ venta.Pseudonimo}}<br>
      Contacto: {{ venta.Telefonos}}</td>
    
    
        <td>Titulo: {{ venta.Item}}
        <br>
        Metodo de pago: {{venta.tipo}}
        </td>
     
      <td>
      Orden Nº: {{ venta.Orden}} <br>
      fecha de creacion:
        {{ venta.Comprado | date:"dd-MM-yyyy"}}<br>
        Pago : {{venta.Pago}}<br>
        Envio : {{venta.Envio}} <br>
        Calificacion del comprador:
        {{ venta.Calificacion}}</td>
    </tr>
    </tbody>
  </table>
</div>

</div>